body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
.qr__section {
  width: 270px;
  height: 420px;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}
.qr__image {
  width: 270px;
  height: 270px;
  margin: auto;
}
.qr__image img {
  border-radius: 10px;
}
.text__section {
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 250px;
  margin: auto;
  padding-top: 10 px;
}
.text__section .header {
  font-size: 16px;
  font-weight: 600;
  color: hsl(218, 44%, 22%);
}
.text__section .text {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
